
    
<div class="footer flex justify-center items-center h-12 bg-slight-gray">
    <div class="foot">
        <p class="font-montserrat text-xl">
            <!-- copyright symbol -->
            &copy;
            2022 Accounter All Rights Reserved.
            
            Made with love by <a href="#" class="text-teal-400">regex</a>
        </p>
    </div>
</div>
</body>
<script src="front.js"></script>
</html>