
    
<div class="footer flex items-center h-12 bg-slight-gray">
    <div class="flex items-center sm:pl-40 sm:pr-40 w-full border-b justify-between">
        <div>
            <p class="font-montserrat text-xs">
                <span class="font-bold">&copy; 2022 Accounter All Rights Reserved</span>
            </p>
        </div>
        <div>
            <p class="font-montserrat text-s">
                <a href="https://github.com/REGEX777/accounter" target="_blank">
                <i class="fa-brands fa-github pl-1"></i>
                </a>
                
                <a href="#" target="_blank">
                    <i class="text-blue-600 fa-brands fa-discord pl-1"></i>
                </a>
            </p>
        </div>
    </div>
</div>
</body>
<script src="front.js"></script>
</html>