<%- include('partials/nav') %>
<!-- data addition for the expenses table -->
<div class="h-[81.25vh] flex justify-center items-center m-5">

    <div class="data-view">
        <!-- CLick here to see ur data stuff -->
        <p class="text-center text-3xl font-bold pb-10">Hello, <%=user%></p>

        <div class="flex justify-center gap-8 items-center">
            <a href="/dashboard" class="text-white">

                <button
                    class="w-32 h-32 rounded-md bg-blue-500 text-zinc-50 drop-shadow-lg hover:bg-blue-700 transition ease-in duration-100"
                    type="submit">
                    <i class="fas fa-chart-bar text-2xl"></i>
                    <p>
                        Table Veiw
                    </p>
                </button>
            </a>

            <a href="/dashboard" class="text-white">

                <button
                    class="w-32 h-32 rounded-md bg-orange-500 text-zinc-50 drop-shadow-lg hover:bg-orange-700 transition ease-in duration-100"
                    type="submit">
                    <i class="fa-solid fa-chart-line text-2xl"></i>

                    <p>
                        Detailed View
                    </p>
                </button>
            </a>

            <a href="/dashboard" class="text-white">

                <button
                    class="w-32 h-32 rounded-md bg-green-500 text-zinc-50 drop-shadow-lg hover:bg-green-700 transition ease-in duration-100"
                    type="submit">
                    <i class="fa-solid fa-plus text-2xl"></i>
                    <p>
                        Add Data
                    </p>
                </button>
            </a>

        </div>

    </div>
    <hr>

</div>

<%- include('partials/foot') %>