<%- include('partials/nav') %>
<button onclick="topFunction()" class="hidden fixed bottom-10 right-20 z-50 border-0 outline-0 cursor-pointer rounded-full bg-slate-50 p-4 hover:bg-slate-100 transition ease-in duration-100" id="myBtn" title="Go to top"><i class="fa-solid fa-arrow-up"></i></button>
<div class="header flex h-screen justify-between items-center flex-row pl-44 pr-44 animate__animated animate__fadeInUp">
    <div class="info">
        <p class="font-montserrat text-7xl">Accounter</p>
        <p class="font-montserrat text-xl">Track It Down!</p>
        <br>
        <button class="p-2 bg-emerald-500 rounded-md font-semibold text-white hover:bg-none transition ease-in duration-100 hover:bg-slate-700">Get
            Started <i class="fa-solid fa-arrow-right animate-bounce-right"></i></button>
    </div>
    <div class="image w-2/6">
        <img src="/image/reciept.svg" alt="">
    </div>
</div>
<div class="body  bg-slight-gray flex h-screen justify-between items-center">
    <div class="cards flex flex-row justify-between pr-44 pl-44">
        <div class="card w-1/4 p-4 rounded-md bg-slate-50 items-center justify-between shadow-lg">
            <div class="card-header flex flex-col justify-center items-center">
                
                <i class="text-green-400 fa-solid fa-dollar-sign text-6xl p-5 bg-slight-gray rounded-md"></i>
                <br>
                <p class="font-montserrat text-2xl">
                    <span class="font-bold">Track your earnings</span>
                </p>
                <br>
            </div>
            <hr>
            <br>
            <div class="card-body">
                <p class="font-montserrat text-l text-center">
                    With our app, it becomes significantly easy to manage your daily transactions related to freelancing, business, or any other thing. Our app makes a specialized chart based on your data per day that gives you a better representation of your data.
                </p>
            </div>
        </div>
        <div class="card w-1/4 p-4 rounded-md bg-slate-50 items-center justify-between shadow-lg">
            <div class="card-header flex flex-col justify-center items-center">
                
                <i class="text-emerald-400 fa-solid fa-feather-pointed text-6xl p-5 bg-slight-gray rounded-md"></i>
                <br>
                <p class="font-montserrat text-2xl">
                    <span class="font-bold">Easy to Use!</span>
                </p>
                <br>
            </div>
            <hr>
            <br>
            <div class="card-body">
                <p class="font-montserrat text-l text-center">
                    We provide a very easy-to-understand and use interface which can be used by anyone. There is a clean looking dashboard to manage all your data.
                </p>
            </div>
        </div>
        <div class="card w-1/4 p-4 rounded-md bg-slate-50 items-center justify-between shadow-lg">
            <div class="card-header flex flex-col justify-center items-center">
                
                <i class="text-red-400 fa-solid fa-lock text-6xl p-5 bg-slight-gray rounded-md"></i>
                <br>
                <p class="font-montserrat text-2xl">
                    <span class="font-bold">Secure</span>
                </p>
                <br>
            </div>
            <hr>
            <br>
            <div class="card-body">
                <p class="font-montserrat text-l text-center">
                    The data you enter is safe, and our database is fully encrypted and secured. Even the staff of our app cannot see inside your data!
                </p>
            </div>
        </div>
    </div>
</div>
<div class="end h-screen pr-44 pl-44 flex justify-center items-center text-center">
    <div class="get-started">
        <p class="font-montserrat text-5xl font-bold">
            <span class="pl-2">Let's Get Tracking!</span>
        </p>
        <br>
        <p class="font-montserrat text-xl">
            Sign Up Now!
        </p>
        <button class="mt-10 p-2 bg-emerald-500 rounded-md font-semibold text-white hover:bg-none transition ease-in duration-200 hover:bg-emerald-700">Let's Get
            Started <i class="fa-solid fa-arrow-right animate-bounce-right"></i></button>
    </div>
</div>

<%- include('partials/foot') %>