<%- include('partials/nav') %>
<div class="header flex h-screen justify-center items-center flex-row">
    <div class="info">
        <p class="font-grape-nuts text-5xl">Accounter</p>
        <p>Accounts Made easy!</p>
    </div>
    <div class="image">
        <img src="/image/reciept.svg" alt="">
    </div>
</div>
<%- include('partials/foot') %>