<%- include('partials/nav') %>
<button onclick="topFunction()" class="hidden fixed bottom-10 right-20 z-50 border-0 outline-0 cursor-pointer rounded-full bg-slate-50 p-4" id="myBtn" title="Go to top"><i class="fa-solid fa-arrow-up"></i></button>
<div class="header flex h-screen justify-between items-center flex-row pl-44 pr-44">
    <div class="info">
        <p class="font-montserrat text-7xl">Accounter</p>
        <p class="font-montserrat text-xl">Track It Down!</p>
        <br>
        <button class="p-2 bg-gradient-to-r from-slate-600 to-slate-400 rounded-md font-semibold text-white">Get
            Started</button>
    </div>
    <div class="image w-2/6">
        <img src="/image/reciept.svg" alt="">
    </div>
</div>
<div class="body bg-slight-gray flex h-screen justify-between items-center">
    <div class="cards flex flex-row justify-between pr-44 pl-44">
        <div class="card w-1/4 p-4 rounded-md bg-slate-50 shadow-lg">
            <div class="card-header">
                <p class="font-montserrat text-2xl">
                    <i class="fa-solid fa-dollar-sign"></i>
                    <span class="pl-2">Track your earnings</span>
                </p>
            </div>
            <br>
            <div class="card-body">
                <p class="font-montserrat text-xl">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Pellentesque euismod, nisi vel consectetur interdum,
                    nisl nunc euismod nisi, eget consectetur nisl nunc
                    euismod nisi.
                </p>
            </div>
        </div>
        <div class="card w-1/4 p-4 rounded-md bg-slate-50 shadow-lg">
            <div class="card-header">
                <p class="font-montserrat text-2xl">
                    <i class="fa-solid fa-feather-pointed"></i>
                    <span class="pl-2">Easy to use!</span>
                </p>
            </div>
            <br>
            <div class="card-body">
                <p class="font-montserrat text-xl">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Pellentesque euismod, nisi vel consectetur interdum,
                    nisl nunc euismod nisi, eget consectetur nisl nunc
                    euismod nisi.
                </p>
            </div>
        </div>
        <div class="card w-1/4 p-4 rounded-md bg-slate-50 shadow-lg">
            <div class="card-header">
                <p class="font-montserrat text-2xl">
                    <i class="fa-solid fa-lock"></i>
                    <span class="pl-2">Secure</span>
                </p>
            </div>
            <br>
            <div class="card-body">
                <p class="font-montserrat text-xl">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Pellentesque euismod, nisi vel consectetur interdum,
                    nisl nunc euismod nisi, eget consectetur nisl nunc
                    euismod nisi.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="end h-screen pr-44 pl-44 flex justify-center items-center">
    <div class="about">
        <p class="font-montserrat text-2xl">
            <i class="fa-solid fa-info-circle"></i>
            <span class="pl-2">About</span>
        </p>
        <br>
        <p class="font-montserrat text-xl">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Pellentesque euismod, nisi vel consectetur interdum,
            nisl nunc euismod nisi, eget consectetur nisl nunc
            euismod nisi.
        </p>
    </div>
</div>

<%- include('partials/foot') %>