<%- include('partials/nav') %>
<div class="flex h-screen items-center justify-center">
 
    <form action="/login" method="post" class="flex h-max grid-cols-2 flex-col items-center justify-center gap-4">
      <p class="text-4xl hover:cursor-pointer text-slate-900">Log In</p>
      <% if (messages.error) { %>
        <div class="bg-red-500 text-white font-bold rounded-lg px-4 py-3" role="alert">
         <%= messages.error %>
        </div>
      <% } %>
      <input type="text" class="t-1 block w-80 space-y-1 rounded-md border border-slate-300 bg-white px-3 py-2 placeholder-slate-400 shadow-sm drop-shadow-md focus:border-sky-500 focus:outline-none focus:ring-1 focus:ring-sky-500 sm:text-sm" 
      id="email" 
      name="email" 
      placeholder="email" 
      required/>

      <input type="password" class="t-1 block w-80 space-y-1 rounded-md border border-slate-300 bg-white px-3 py-2 placeholder-slate-400 shadow-sm drop-shadow-md focus:border-sky-500 focus:outline-none focus:ring-1 focus:ring-sky-500 sm:text-sm" 
      id="password" 
      name="password" 
      placeholder="Password" 
      required/>

      <button class="w-100 h-9 w-32 rounded-md bg-green-500 text-zinc-50 drop-shadow-lg hover:bg-green-700 transition ease-in duration-100" type="submit">Log in</button>
      
      <p class="text-xs">Need a account? <a href="/signup" class="text-teal-400 underline">Get One Here</a>!</p>
    </form>
  </div>
<%- include('partials/foot') %>
